{% extends "auctions/layout.html" %}

{% block title %}
    Listing {{ title }}
{% endblock %}

{% block body %}
<main class="listing">
    <h1>Listing: {{ listing.title }}</h1>
    <div class="flex-wrapper">
        <div>
            <p><b>Title: </b>{{ listing.title}}</p>
            <p><b>Description: </b>{{ listing.description}}</p>
            <p><b>Category: </b>{{ listing.category}}</p>
            <p><b>Listing Owner: </b>{{ user.username}}</p>
        </div>
        <img src="../../static/{{ listing.image }}" />
    </div>
</main>
{% endblock %}