{% extends "auctions/layout.html" %}

{% block title %}
    Active Listings
{% endblock %}

{% block body %}
<main>
    <h1>Active Listings</h1>
    <ul>
        {% for listing in listings %}
            {% if listing.active %}
                <li class="active-listings">
                    <a href="{% url 'auctions:listing' listing.id %}">Listing {{ listing.id}}: {{ listing.title}} </a>
                    <img src="static/{{ listing.image }}"/>
                    <p><b>Current Bid: </b> {{ listing.current_bid }}</p>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</main>
{% endblock %}
