{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <script src="https://kit.fontawesome.com/ffa8d57923.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700&display=swap" rel="stylesheet">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <header>
            <div><b>Project 2 - Auctions</b></div>
            <nav class="flex-wrapper">
                <div class="page-links">
                    <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
                    <a class="nav-link" href="#">Categories</a>
                    {% if user.is_authenticated %}
                        <a class="nav-link" href="#">Watchlist</a>
                        <a class="nav-link" href="#">New Listing</a>
                    {% endif %}
                </div>
                
                {% if user.is_authenticated %}
                    <div class="signed-in">
                        <span>Welcome <strong>{{ user.username }}</strong>!</span>
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </div>
                {% else %}
                    <div class="not-signed-in">
                        <span>Not signed in.</span>
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </div>
                {% endif %}
            </nav>
        </header>
        <div class="main-content-wrapper">
            {% block body %}
            {% endblock %}
        </div>
        
        <footer>
            <span>Harvard Extension School</span>
            <span>CSCI E-33a &mdash; Spring 2022</span>
            <span>Reina McCuskey</span>
        </footer>
    </body>
</html>
