{% extends "auctions/layout.html" %}

{% block title %}
    Listing {{ title }}
{% endblock %}

{% block body %}
<main class="listing">
    <h1>Listing: {{ listing.title }}</h1>
    <div class="flex-wrapper">
        <div>
            <p><b>Title: </b>{{ listing.title}}</p>
            <p><b>Description: </b>{{ listing.description}}</p>
            <p><b>Category: </b>{{ listing.category}}</p>
            <p><b>Listing Owner: </b>{{ user.username}}</p>
            

            
        </div>
        <img src="static/{{ listing.image }}" />
    </div>
   <!-- if listing in user.objects.watchlists.all()  
    add remove watchlist code
    else show add watchlist
    <div class="pseudo-label">
                <h2>Watchlist Status</h2>
                <label>
                    <input type="radio" name="watchlist-status" value="Add to Watchlist" /> Add to Watchlist
                </label>
                <label>
                    <input type="radio" name="watchlist-status" value="Remove from Watchlist" /> Remove from Watchlist
                </label>
            </div>
-->

    <form class="bid-watchlist-comment" action="{% url 'auctions:bidForm' listing.id %}" method="POST">
        {% csrf_token %}
        <div class="detail">
            <h2>Bids</h2>
            <p><b>Starting Bid: </b>{{ listing.starting_bid}}</p>
            <p><b>Current Bid: </b>{{ listing.current_bid}}</p>
            <label class="enter-bid">
                <b>Enter a bid: </b>
                <input type="number" step="any" />
            </label>
            <input type="submit" value="Submit Bid" />
        </div> 
    </form> 
    <form class="bid-watchlist-comment" action="{% url 'auctions:commentForm' listing.id %}" method="POST">
        {% csrf_token %}
        <div class="detail">
            <div class="comments">
                <h2>Comments</h2>
                <label>
                    <b>New Comment:</b>
                    <textarea></textarea>
                </label>
                <input type="submit" value="Post Comment" />
                <!-- <div><span>(username)</span><p>Previous comment blah blah blah</p></div>
                <div><span>(username)</span><p>Previous comment blah blah blah</p></div>
                <div><span>(username)</span><p>Previous comment blah blah blah</p></div> -->
            </div>
        </div>
    </form>
    
</main>
{% endblock %}