{% extends "auctions/layout.html" %}

{% block title %}
    Listing {{ title }}
{% endblock %}

{% block body %}
<main class="listing">
    <h1>Listing: {{ listing.title }}</h1>
    <div class="flex-wrapper">
        <div>
            <p><b>Title: </b>{{ listing.title}}</p>
            <p><b>Description: </b>{{ listing.description}}</p>
            <p><b>Category: </b>{{ listing.category}}</p>
            <p><b>Listing Owner: </b>{{ user.username}}</p>
        </div>
        <img src="static/{{ listing.image }}" />
    </div>
   
    <div class="call-to-actions">
        <!--add option to close if user is owner-->
        {% if listing.user and listing.active %}
        <form action="closed_listing/{{listing.id}}" method="POST">
            {% csrf_token %}
            <button type="submit">Close listing</button>
        </form>  
        {% endif %}

        <!--add remove watchlist code-->
        <form action="" method="POST">
            {% if listing in user.objects.watchlists.all %}
                <button type="submit">Remove from watchlist</button>
            <!--else if active allow user to add to watchlist-->
            {% elif listing.active %}
                <button type="submit">Add to watchlist</button>
            {% endif %}
        </form>
        <!-- {% if listing in user.objects.watchlists.all %}
            <button type="submit" name="remove-from-watchlist">Remove from watchlist</button> -->
        <!--else if active allow user to add to watchlist-->
        <!-- {% elif listing.active %}
            <button type="submit" name="add-to-watchlist">Add to watchlist</button>
        {% endif %} -->
    </div>
     <!-- if active listing render forms -->
    {% if listing.active %}
        <form class="bid-watchlist-comment" action="{% url 'auctions:bidForm' listing.id %}" method="POST">
            {% csrf_token %}
            <div class="detail">
                <h2>Bids</h2>
                <p><b>Starting Bid: </b>{{ listing.starting_bid}}</p>
                <p><b>Current Bid: </b>{{ listing.current_bid}}</p>
                <label class="enter-bid">
                    <b>Enter a bid: </b>
                    <input type="number" step="any" name="bid_amount">
                </label>
                <input type="submit" value="Submit Bid" />
            </div> 
        </form> 
    
        <form class="bid-watchlist-comment" action="{% url 'auctions:commentForm' listing.id %}" method="POST">
            {% csrf_token %}
            <div class="detail">
                <div class="comments">
                    <h2>Comments</h2>
                    <label>
                        <b>New Comment:</b>
                        <textarea name="comment_post"></textarea>
                    </label>
                    <input type="submit" value="Post Comment" />
                </div>
                <div><span>(username)</span><p>Previous comment blah blah blah</p></div>
            </div>
        </form>
    {% endif %}
</main>
{% endblock %}