{% extends "auctions/layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <main class="login-page">
        <h1>Login</h1>

        {% if message %}
            <div>{{ message }}</div>
        {% endif %}

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <label>
                <b>Username</b>
                <input autofocus type="text" name="username" placeholder="Username">
            </label>
            <label>
                <b>Password</b>
                <input type="password" name="password" placeholder="Password">
            </label>
            <input aria-label="submit login" type="submit" value="Login">
        </form>

        Don't have an account? <a href="{% url 'register' %}">Register here.</a>
    </main>
    

{% endblock %}