{% extends "auctions/layout.html" %}

{% block body %}
    <main class="register-page">
        <h1>Register</h1>

        {% if message %}
            <div>{{ message }}</div>
        {% endif %}

        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <label>
                <b>Username</b>
                <input autofocus type="text" name="username" placeholder="Username">
            </label>
            <label>
                <b>Email</b>
                <input type="email" name="email" placeholder="Email Address">
            </label>
            <label>
                <b>Password</b>
                <input type="password" name="password" placeholder="Password">
            </label>
            <label>
                <b>Confirm Password</b>
                <input type="password" name="confirmation" placeholder="Confirm Password">
            </label>
            <input aria-label="submit registration" type="submit" value="Register">
        </form>

        Already have an account? <a href="{% url 'login' %}">Log In here.</a>
    </main>
{% endblock %}