{% extends "network/layout.html" %}

{% block body %}
    <main>
        <h1>Welcome Home, {{ request.user }} </h1>
        <div class="flex-wrapper home">
            <section class="post-comment">
                <h2>Post a New Comment</h2>
                <form action="comment" method="POST" id="postForm">
                    {% csrf_token %}
                    <label>
                        <b class="visuallyhidden">Comment</b>
                        <textarea id="postBody" name="body"></textarea>
                    </label>
                    <input type="submit" aria-label="submit comment" Value="Post"/>
                </form>
            </section>
            <section class="feed">
                <h2>All Posts</h2>
                {% for post in posts reversed %}
                    <div class="post">
                        <a href="#" class="edit-post"><i class="fa fa-edit"></i> Edit</a>
                        <div class="flex-wrapper">
                            <b>@{{ post.user }}</b>
                            <span>{{ post.timestamp }}</span>
                        </div>
                        <p id="posted" class="posted">{{ post.body }}</p>
                        <form class="edit-form" id="editForm">
                            {% csrf_token %}
                            <label>
                                <b class="visuallyhidden">Comment</b>
                                <textarea id="editBody" name="body">{{ post.body }}</textarea>
                            </label>
                            <input type="submit" aria-label="submit comment" Value="Submit"/>
                        </form>
                    </div>
                {% empty %}
                    <div>
                        No posts found
                    </div>
                {% endfor %}
            </section>
        </div>  
    </main>

{% endblock %}
