html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: white;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 1.6rem;
}

body * {
  box-sizing: border-box;
}

code {
  white-space: pre;
}

a,
a:visited {
  color: #325794;
}

a:hover {
  text-decoration: none;
}

header {
  padding: 2rem;
  text-align: center;
  font-size: 2.2rem;
  background-color: #f8f8f8;
  border-bottom: 0.5rem solid #fff;
}

footer {
  padding: 2rem;
  background-color: #f8f8f8;
  border-top: 0.5rem solid #fff;
  color: #70757a;
  display: flex;
  justify-content: space-between;
}

.flex-wrapper {
  display: flex;
}

h1 {
  margin-top: 0;
  font-size: 5rem;
  font-weight: 300;
  line-height: 1;
}

.main-content-wrapper {
  min-height: calc(100vh - 15rem);
}

aside {
  padding: 2rem;
  background-color: #f8f8f8;
  min-width: 25rem;
  width: 25rem;
}

aside strong {
  display: block;
  font-size: 2rem;
  padding: 1rem 0 1.6rem;
}

aside nav a {
  display: block;
  line-height: 2;
}

form {
  padding: 0.5rem 0 1.5rem;
  width: 100%;
}

form.create-entry label {
  display: block;
  padding-bottom: 1rem;
  font-weight: 600;
}

form.create-entry label:not(:first-of-type) {
  padding-top: 3rem;
}

.pseudo-label b {
  display: block;
  padding-bottom: 1rem;
}

.pseudo-label {
  padding-bottom: 3rem;
}

a.edit-markdown {
  position: absolute;
  top: 10rem;
  right: 4rem;
}

input[type="submit"] {
  color: white;
  padding: 1rem 3rem;
  margin-top: 2rem;
  background-image: linear-gradient(174.2deg, #325794, #173669 66.72%, #304569);
  border: thin solid #325794;
}

input[type="submit"]:hover {
  background-image: linear-gradient(174.2deg, #304569, #173669 66.72%, #325794);
}

input[type="text"],
textarea {
  padding: 0.5rem;
  font-size: 1.6rem;
  width: 100%;
}

textarea {
  height: 50vh;
}

main {
  padding: 2rem;
  flex-grow: 2;
  position: relative;
}

ul.entries li {
  line-height: 2;
}
