{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <main class="messages-home">
        <h1>{{ user }}'s Messages</h1>
        <div class="flex-wrapper">
            <!-- <button class="tertiary" id="all">All Messages</button> -->
            <button class="tertiary" id="compose">Send a Message</button>
            <!-- <button class="tertiary" id="sent">Sent</button>
            <button class="tertiary" id="archived">Archived</button> -->
          
        </div>


        <div id="messages-view" class="messages">
            
        </div>

        <div id="compose-view">
            <h2>Compose New email</h2>
            <form id="compose-form">
                <label class="sender">
                    <b>From: </b>
                    <input disabled value="{{ request.user.email }}">
                </label>
                <label class="recipient">
                    <b>To: </b>
                    <input id="compose-recipients">
                </label>
                <label class="compose-body">
                    <b>Message: </b>
                    <textarea id="compose-body"></textarea>
                </label>
                
                <input type="submit" aria-label="send dm" Value="Send Message"/>
            </form>
        </div>

        <div id="read-message-view">
        </div>        
    </main>
    
{% endblock %}
